body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper-background{
  position: relative;
}

.sheep-background {
  width: 100%; 
  height: 80.5vh;
  object-fit:cover;
  object-position: center left;
  z-index: -1;
  display: inline-block;
}

.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-header {
  z-index: 1;
  position: absolute;
  top:0;
  width: 100%;
  color: rgb(2, 2, 2);
}

.flexbox-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1420px;
  margin-left: auto;
  margin-right: auto;
}

.nav-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 500px;
}

.nav-end{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 3450px;
}

.nav-end span{
  width:70px;
}

.FreeTrial{
  border-radius: 25px;
  border: none;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.one{
  background-color: #f7c383;
}

.one:hover{
  background-color: #e7e2e2;
}

.two {
  padding:15px 20px;
  border-radius: 50px;
  border: 2px solid white;
  margin-right: 15px;
}

.two:hover{
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
  color: white;
}

li{
  margin: auto 25px ;
  cursor: pointer;
}

.logo-container{
  width: 125px;
}

.logo {
  height: 35px;
}

.logo-text {
  font-size: 1.5rem;
  font-family: kanit;
  padding-left: 5px;
}

.primary-title {
  position: absolute;
  top: 250px;
  left: 139px;
  width: 900px;
}

.main-heading{
  font-size: 4rem;
}

header section {
  font-size: 23px;
  width: 1000px;
}

.button-text-wrapper{
  position: absolute;
  top:675px;
  left:139px;
  width: 365px;
}

.button-text-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
}

.shopify-story {
  color: white;
  font-size: 18px;
  background-color: #e7e2e223;
  border: 1px solid rgba(255, 255, 255, 0.562);
  border-radius: 50px;
  padding: 15px 25px;
  cursor: pointer;
}

.shopify-story:hover{
  background-color: white;
  color: black;
}

.first-group{
  display: flex;
  align-items: center;
  justify-content: center;
}

.but-text{
  width: 200px;
  font-size: 15px;
  color: white;
}

.overlay{
  position: absolute;
  top:0;
  z-index: 5;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hidden{
  display:none;
}

.story{
  z-index: 10;
  position: absolute;
  top: 25%;
  left: 24%;
  border-radius: 18px;
  height: 492px;
  width: 873.333px;
}

.close-button{
  z-index: 15;
  position: fixed;
  right:70px;
  bottom: 165px;

  border:none;
  border-radius: 5px;
  background-color: rgba(4, 0, 0, 0.564);
  color: white;
  padding: 5px;
  font-size: 1.4rem;
  width: 35px;
  aspect-ratio: 1;
  cursor: pointer;
}

.h2-mark {
  background: linear-gradient(to right, #ff6f61, #ffb861, #ffd965, #ffe87b);
}

.worldwide{
  height: 500px;
  width: 550px;
  object-fit:cover ;
}

.shopify-data-container{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.dash{margin-top: 5px;
  display: inline;
}

.leading-heading {
  font-family: kanit;
  font-size: 42px;
  width: 745px;
  margin-top: 0;
}

.header-data mark{
  font-weight: 100;
}

.data {
  width:900px;
  display: flex;
  flex-wrap: wrap;
}

.data span {
  font-family: kanit;
  font-size: 3rem;
}

.data div {
  color: grey;
  font-size: 1.25rem;
}

.data section{
  position: relative;
  margin-left: 20px;
  margin-bottom: 5rem;
  width: 400px;
}

.data section::before {
  height: 100px;
  width: 5px;

  content: ''; 
  position: absolute;
  top: 10px;
  left: -20px;
  background: linear-gradient(to bottom, #ff6f61, #ffb861, #ffd965, #ffe87b);
  border-radius: 10px;
}

/* aside panel */

.aside-title {
  text-transform:uppercase ;
  margin-left: 130px;
  margin-top: 80px;
}

.community-container {
  margin-left: 100px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
} 

.community-container img{
  width: 55px;
  aspect-ratio: 1;
  margin: 15px;
  display: block;
}

.community-container section{
  width: 337px;
  height: 216px;
  background-color: whitesmoke;
  border: 1px solid rgb(171, 170, 170);
  border-radius: 8px;cursor: pointer;
}

.arrow{
  display: inline;
  visibility: hidden;
}

.sec:hover .arrow{
  visibility: visible;
  transition: right 1s ease-in-out;
}

.community-container p, .community-container span {
  margin-left: 25px;
  font-family: kanit;
  font-size: 1.1rem;
}

.community-container p{
  color: grey;
}

